@keyframes progress {
	0% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.animate-progress {
	animation: progress 2s infinite linear;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
  }
  
  .scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
  }
  