@import "../styles/globals.css";

@layer base {
  body {
    @apply font-sans w-full max-w-screen mx-auto leading-relaxed bg-background text-foreground p-0 transition-all;
  }

  body[data-scroll-locked] {
    @apply !mx-auto !p-8;
  }

  h1 {
    @apply text-3xl font-bold tracking-tight mb-4 text-foreground;
  }

  p {
    @apply text-base text-muted-foreground mb-6;
  }

  .card {
    @apply bg-card rounded-lg p-6 shadow-sm border mb-6;
  }
}
