version: "3"

services:
  env_file:
    - .env
  postgres:
    build:
      context: .
      dockerfile: ./docker/pg-Dockerfile
    ports:
      - 5432:5432
    volumes:
      - .data/postgres:/var/lib/postgresql/data
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: POSTGRES_PASSWORD
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  subquery-node:
    image: subquerynetwork/subql-node-stellar:latest
    depends_on:
      "postgres":
        condition: service_healthy
    restart: unless-stopped
    environment:
      DB_USER: POSTGRES_USER
      DB_PASS: POSTGRES_PASSWORD
      DB_DATABASE: POSTGRES_DATABASE
      DB_HOST: POSTGRES_HOST
      DB_PORT: POSTGRES_PORT
    volumes:
      - ./:/app
    command:
      - ${SUB_COMMAND:-} # set SUB_COMMAND env variable to "test" to run tests
      - -f=/app
      - --db-schema=app
      - --workers=1 # The more the faster
      - --batch-size=5 # The higher the faster, set low to avoid rate limit on SDF endpoint
    healthcheck:
      test: ["CMD", "curl", "-f", "http://subquery-node:3000/ready"]
      interval: 3s
      timeout: 5s
      retries: 10

  graphql-engine:
    image: subquerynetwork/subql-query:latest
    ports:
      - 3000:3000
    depends_on:
      "postgres":
        condition: service_healthy
      "subquery-node":
        condition: service_healthy
    restart: always
    environment:
      DB_USER: POSTGRES_USER
      DB_PASS: POSTGRES_PASSWORD
      DB_DATABASE: POSTGRES_DATABASE
      DB_HOST: POSTGRES_HOST
      DB_PORT: POSTGRES_PORT
    command:
      - --name=app
      - --playground
      - --indexer=http://subquery-node:3000
