name: "CLI deploy"
on:
  workflow_dispatch:
    branches:
        - main
        - develop
    inputs:
      projectName:
        description: "kindfi-indexer"
        required: true
        type: string
jobs:
  deploy:
    name: CLI Deploy
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/indexer
    environment:
      name: DEPLOYMENT
    env:
      SUBQL_ACCESS_TOKEN: ${{ secrets.SUBQL_ACCESS_TOKEN }}
      ENDPOINT: ${{ secrets.ENDPOINT }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Verify Bun installation
        run: bun --version
      - name: Codegen
        run: bun codegen
        timeout-minutes: 5
      - name: Version
        run: npx subql --version
      - name: repo
        run: echo ${{github.repository}}
      - name: Publish and Deploy
        run: |
          sh .github/scripts/publish-deploy.sh -o ${{github.repository}} -p ${{github.event.inputs.projectName}} -e ${{secrets.ENDPOINT}}
